USE [wsr]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingToEvent](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[EventStartDate] [datetime] NOT NULL,
	[EventEndDate] [datetime] NULL,
	[ScheduleMonthId] [int] NULL,
	[IsChanged] [bit] NOT NULL,
	[CabinetId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[EventId] [int] NULL,
 CONSTRAINT [PK_Schedule1] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabinet](
	[CabinetId] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_Cabinet] PRIMARY KEY CLUSTERED 
(
	[CabinetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorId] [int] NOT NULL,
	[Specialization] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Doctor_1] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Diagnosis] [nvarchar](1000) NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Recomendations] [nvarchar](1000) NULL,
	[TypeId] [int] NOT NULL,
	[VoiceMessage] [varbinary](max) NULL,
	[PatientId] [int] NOT NULL,
 CONSTRAINT [PK_Therapy] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventHasHospitalization](
	[EventId] [int] NOT NULL,
	[HospitalizationCode] [int] NOT NULL,
 CONSTRAINT [PK_EventHasHospitalization] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[HospitalizationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventHasPatients](
	[BookingId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
 CONSTRAINT [PK_EventHasPatients] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRecipe](
	[TherapyRecipeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[TherapyId] [int] NULL,
	[Dosage] [nvarchar](50) NULL,
 CONSTRAINT [PK_TherapyRecipe] PRIMARY KEY CLUSTERED 
(
	[TherapyRecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventResult](
	[TherapyResultId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[TherapyId] [int] NOT NULL,
 CONSTRAINT [PK_TherapyResult] PRIMARY KEY CLUSTERED 
(
	[TherapyResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TherapyType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitalization](
	[HospitalizationCode] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Goal] [nvarchar](500) NULL,
	[Department] [nvarchar](100) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[IsCanceled] [bit] NOT NULL,
	[CancelReason] [nvarchar](100) NOT NULL,
	[HospitalizationRoomId] [int] NULL,
 CONSTRAINT [PK_Hospitalization_1] PRIMARY KEY CLUSTERED 
(
	[HospitalizationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalizationRoom](
	[HospitalizationRoomId] [int] IDENTITY(1,1) NOT NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[BedCode] [nchar](2) NOT NULL,
 CONSTRAINT [PK_HospitalizationRoom] PRIMARY KEY CLUSTERED 
(
	[HospitalizationRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientId] [int] NOT NULL,
	[Passport] [nchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[IsMale] [bit] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nchar](11) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Job] [nvarchar](200) NULL,
	[Photo] [varbinary](max) NULL,
	[MedicalCardNumber] [int] NULL,
	[InsurancePolicyNumber] [nvarchar](20) NOT NULL,
	[InsurancePolicyEndDate] [date] NULL,
	[InsuranceCompany] [nvarchar](100) NOT NULL,
	[PassportIssuedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationStaff](
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](10) NULL,
 CONSTRAINT [PK_RegistrationStaff] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleMonth](
	[ScheduleMonthId] [int] IDENTITY(1,1) NOT NULL,
	[Year] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_ScheduleMonth] PRIMARY KEY CLUSTERED 
(
	[ScheduleMonthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleWorkDayTemplate](
	[ScheduleTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ScheduleWorkDayTemplate] PRIMARY KEY CLUSTERED 
(
	[ScheduleTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varbinary](max) NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SurName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[RegistrationDate] [datetime] NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[WorkHoursId] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[ScheduleTemplateId] [int] NULL,
 CONSTRAINT [PK_WorkHours] PRIMARY KEY CLUSTERED 
(
	[WorkHoursId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookingToEvent] ON 

INSERT [dbo].[BookingToEvent] ([BookingId], [DoctorId], [EventStartDate], [EventEndDate], [ScheduleMonthId], [IsChanged], [CabinetId], [EventTypeId], [EventId]) VALUES (1, 109, CAST(N'2024-02-19T06:40:47.460' AS DateTime), CAST(N'2024-02-19T06:40:47.460' AS DateTime), NULL, 1, 3, 11, 1)
INSERT [dbo].[BookingToEvent] ([BookingId], [DoctorId], [EventStartDate], [EventEndDate], [ScheduleMonthId], [IsChanged], [CabinetId], [EventTypeId], [EventId]) VALUES (2, 108, CAST(N'2024-02-19T06:50:47.460' AS DateTime), CAST(N'2024-02-19T06:55:47.460' AS DateTime), NULL, 0, 1, 11, 2)
INSERT [dbo].[BookingToEvent] ([BookingId], [DoctorId], [EventStartDate], [EventEndDate], [ScheduleMonthId], [IsChanged], [CabinetId], [EventTypeId], [EventId]) VALUES (3, 108, CAST(N'2024-02-19T07:00:47.460' AS DateTime), CAST(N'2024-02-19T07:05:47.460' AS DateTime), NULL, 0, 1, 11, 3)
SET IDENTITY_INSERT [dbo].[BookingToEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[Cabinet] ON 

INSERT [dbo].[Cabinet] ([CabinetId], [Number]) VALUES (1, 1)
INSERT [dbo].[Cabinet] ([CabinetId], [Number]) VALUES (2, 2)
INSERT [dbo].[Cabinet] ([CabinetId], [Number]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Cabinet] OFF
GO
INSERT [dbo].[Doctor] ([DoctorId], [Specialization]) VALUES (108, N'Gastroenterologist')
INSERT [dbo].[Doctor] ([DoctorId], [Specialization]) VALUES (109, N'Orthopedic Surgeon')
INSERT [dbo].[Doctor] ([DoctorId], [Specialization]) VALUES (110, N'Pediatrician')
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventId], [Title], [Diagnosis], [Price], [Recomendations], [TypeId], [VoiceMessage], [PatientId]) VALUES (1, N'Heart Checkup', N'Coronary Artery Disease', CAST(200.00 AS Decimal(15, 2)), N'Regular exercise and a heart-healthy diet', 6, NULL, 1)
INSERT [dbo].[Event] ([EventId], [Title], [Diagnosis], [Price], [Recomendations], [TypeId], [VoiceMessage], [PatientId]) VALUES (2, N'Diabetes Management', N'Type 2 Diabetes', CAST(300.00 AS Decimal(15, 2)), N'Monitor blood sugar levels and maintain a healthy diet', 7, NULL, 2)
INSERT [dbo].[Event] ([EventId], [Title], [Diagnosis], [Price], [Recomendations], [TypeId], [VoiceMessage], [PatientId]) VALUES (3, N'Physical Therapy', N'Musculoskeletal Injury', CAST(400.00 AS Decimal(15, 2)), N'Strengthening and stretching exercises', 8, NULL, 3)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
INSERT [dbo].[EventHasPatients] ([BookingId], [PatientId]) VALUES (39, 6)
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([TypeId], [Title]) VALUES (9, N'fiziotarapiya')
INSERT [dbo].[EventType] ([TypeId], [Title]) VALUES (10, N'hirurgicheskoe lechenie')
INSERT [dbo].[EventType] ([TypeId], [Title]) VALUES (7, N'instrumentalnaya diagnostika')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
INSERT [dbo].[Hospitalization] ([HospitalizationCode], [PatientId], [Price], [Goal], [Department], [StartDate], [EndDate], [IsCanceled], [CancelReason], [HospitalizationRoomId]) VALUES (1, 1, CAST(9902.66 AS Decimal(15, 2)), N'Etiam faucibus cursus urna. Ut tellus.', N'tempus vel pede morbi', CAST(N'2023-08-10T01:35:52.000' AS DateTime), CAST(N'2023-07-15T19:02:46.000' AS DateTime), 1, N'нет', NULL)
INSERT [dbo].[Hospitalization] ([HospitalizationCode], [PatientId], [Price], [Goal], [Department], [StartDate], [EndDate], [IsCanceled], [CancelReason], [HospitalizationRoomId]) VALUES (2, 2, CAST(4184.35 AS Decimal(15, 2)), N'Nullam porttitor lacus at turpis.', NULL, CAST(N'2023-09-08T15:25:14.000' AS DateTime), CAST(N'2024-02-01T08:03:04.000' AS DateTime), 0, N'нет', NULL)
INSERT [dbo].[Hospitalization] ([HospitalizationCode], [PatientId], [Price], [Goal], [Department], [StartDate], [EndDate], [IsCanceled], [CancelReason], [HospitalizationRoomId]) VALUES (3, 3, CAST(3514.60 AS Decimal(15, 2)), NULL, N'in felis eu sapien cursus vestibulum proin', CAST(N'2023-03-12T19:06:21.000' AS DateTime), CAST(N'2024-04-21T12:01:04.000' AS DateTime), 0, N'нет', NULL)
GO
INSERT [dbo].[Patient] ([PatientId], [Passport], [DateOfBirth], [IsMale], [Address], [PhoneNumber], [Email], [Job], [Photo], [MedicalCardNumber], [InsurancePolicyNumber], [InsurancePolicyEndDate], [InsuranceCompany], [PassportIssuedBy]) VALUES (1, N'9080060062', CAST(N'2004-05-08' AS Date), 0, N'77 Anniversary Junction', N'9494364689 ', N'cseaward0@whitehouse.gov', N'VP Sales', NULL, 95, N'1911490257', CAST(N'2023-09-07' AS Date), N'Stark-Braun', N'Wisoky-Streich')
INSERT [dbo].[Patient] ([PatientId], [Passport], [DateOfBirth], [IsMale], [Address], [PhoneNumber], [Email], [Job], [Photo], [MedicalCardNumber], [InsurancePolicyNumber], [InsurancePolicyEndDate], [InsuranceCompany], [PassportIssuedBy]) VALUES (2, N'6948036252', CAST(N'2003-03-04' AS Date), 0, N'3805 6th Center', N'3734046227 ', N'nfipp1@bbb.org', N'Community Outreach Specialist', NULL, 23, N'4926938219', CAST(N'2024-01-11' AS Date), N'Macejkovic and Sons', N'Stanton-Rosenbaum')
INSERT [dbo].[Patient] ([PatientId], [Passport], [DateOfBirth], [IsMale], [Address], [PhoneNumber], [Email], [Job], [Photo], [MedicalCardNumber], [InsurancePolicyNumber], [InsurancePolicyEndDate], [InsuranceCompany], [PassportIssuedBy]) VALUES (3, N'6378146527', CAST(N'2003-07-28' AS Date), 1, N'246 Hermina Lane', N'8576164673 ', N'ccheng2@house.gov', N'Legal Assistant', NULL, 82, N'9136726192', CAST(N'2023-03-02' AS Date), N'Pacocha, Senger and Kuhlman', N'Schimmel-Rowe')
GO
SET IDENTITY_INSERT [dbo].[ScheduleMonth] ON 

INSERT [dbo].[ScheduleMonth] ([ScheduleMonthId], [Year], [Month], [IsApproved]) VALUES (1, 2024, 2, 1)
INSERT [dbo].[ScheduleMonth] ([ScheduleMonthId], [Year], [Month], [IsApproved]) VALUES (2, 2024, 3, 1)
SET IDENTITY_INSERT [dbo].[ScheduleMonth] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Password], [Login], [Name], [SurName], [Patronymic], [RegistrationDate], [IsAdmin]) VALUES (1, NULL, N'sjinkins0', N'Stearn', N'Jinkins', NULL, CAST(N'2023-04-16T11:45:55.000' AS DateTime), 0)
INSERT [dbo].[User] ([UserId], [Password], [Login], [Name], [SurName], [Patronymic], [RegistrationDate], [IsAdmin]) VALUES (2, NULL, N'llamey1', N'Luce', N'Lamey', NULL, CAST(N'2023-09-14T02:03:26.000' AS DateTime), 0)
INSERT [dbo].[User] ([UserId], [Password], [Login], [Name], [SurName], [Patronymic], [RegistrationDate], [IsAdmin]) VALUES (3, NULL, N'ltalloe2', N'Lilli', N'Talloe', NULL, CAST(N'2024-01-30T07:35:18.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[EventHasHospitalization] ADD  CONSTRAINT [UQ_Event] UNIQUE NONCLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventHasHospitalization] ADD  CONSTRAINT [UQ_HasHospitalization] UNIQUE NONCLUSTERED 
(
	[HospitalizationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[EventType] ADD  CONSTRAINT [UQ_TherapyType] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hospitalization] ADD  CONSTRAINT [UQ_Hospitalization] UNIQUE NONCLUSTERED 
(
	[HospitalizationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [IX_PatientPassport] UNIQUE NONCLUSTERED 
(
	[Passport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [UQ_Patient] UNIQUE NONCLUSTERED 
(
	[InsurancePolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingToEvent] ADD  CONSTRAINT [DF_ScheduleItem_EventStartDate]  DEFAULT (getdate()) FOR [EventStartDate]
GO
ALTER TABLE [dbo].[BookingToEvent] ADD  CONSTRAINT [DF_Schedule_IsChanged]  DEFAULT ((0)) FOR [IsChanged]
GO
ALTER TABLE [dbo].[BookingToEvent] ADD  CONSTRAINT [DF_BookingToEvent_EventTypeId]  DEFAULT ((1)) FOR [EventTypeId]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Therapy_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_PatientId]  DEFAULT ((1)) FOR [PatientId]
GO
ALTER TABLE [dbo].[Hospitalization] ADD  CONSTRAINT [DF_Hospitalization_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Hospitalization] ADD  CONSTRAINT [DF_Hospitalization_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Hospitalization] ADD  CONSTRAINT [DF_Hospitalization_IsCanceled]  DEFAULT ((0)) FOR [IsCanceled]
GO
ALTER TABLE [dbo].[Hospitalization] ADD  CONSTRAINT [DF_Hospitalization_CancelReason]  DEFAULT (N'нет') FOR [CancelReason]
GO
ALTER TABLE [dbo].[ScheduleMonth] ADD  CONSTRAINT [DF_ScheduleMonth_Year]  DEFAULT (datepart(year,getdate())) FOR [Year]
GO
ALTER TABLE [dbo].[ScheduleMonth] ADD  CONSTRAINT [DF_ScheduleMonth_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_RegistrationDate]  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[BookingToEvent]  WITH CHECK ADD  CONSTRAINT [FK_BookingToEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingToEvent] CHECK CONSTRAINT [FK_BookingToEvent_Event]
GO
ALTER TABLE [dbo].[BookingToEvent]  WITH CHECK ADD  CONSTRAINT [FK_BookingToEvent_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([TypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingToEvent] CHECK CONSTRAINT [FK_BookingToEvent_EventType]
GO
ALTER TABLE [dbo].[BookingToEvent]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Cabinet] FOREIGN KEY([CabinetId])
REFERENCES [dbo].[Cabinet] ([CabinetId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingToEvent] CHECK CONSTRAINT [FK_Schedule_Cabinet]
GO
ALTER TABLE [dbo].[BookingToEvent]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[BookingToEvent] CHECK CONSTRAINT [FK_Schedule_Doctor]
GO
ALTER TABLE [dbo].[BookingToEvent]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_ScheduleMonth] FOREIGN KEY([ScheduleMonthId])
REFERENCES [dbo].[ScheduleMonth] ([ScheduleMonthId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingToEvent] CHECK CONSTRAINT [FK_Schedule_ScheduleMonth]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_User] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_User]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([PatientId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Patient]
GO
ALTER TABLE [dbo].[EventHasHospitalization]  WITH CHECK ADD  CONSTRAINT [FK_EventHasHospitalization_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[EventHasHospitalization] CHECK CONSTRAINT [FK_EventHasHospitalization_Event]
GO
ALTER TABLE [dbo].[EventHasHospitalization]  WITH CHECK ADD  CONSTRAINT [FK_EventHasHospitalization_Hospitalization] FOREIGN KEY([HospitalizationCode])
REFERENCES [dbo].[Hospitalization] ([HospitalizationCode])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EventHasHospitalization] CHECK CONSTRAINT [FK_EventHasHospitalization_Hospitalization]
GO
ALTER TABLE [dbo].[EventHasPatients]  WITH CHECK ADD  CONSTRAINT [FK_EventHasPatients_BookingToEvent] FOREIGN KEY([BookingId])
REFERENCES [dbo].[BookingToEvent] ([BookingId])
GO
ALTER TABLE [dbo].[EventHasPatients] CHECK CONSTRAINT [FK_EventHasPatients_BookingToEvent]
GO
ALTER TABLE [dbo].[EventHasPatients]  WITH CHECK ADD  CONSTRAINT [FK_EventHasPatients_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([PatientId])
GO
ALTER TABLE [dbo].[EventHasPatients] CHECK CONSTRAINT [FK_EventHasPatients_Patient]
GO
ALTER TABLE [dbo].[EventRecipe]  WITH CHECK ADD  CONSTRAINT [FK_TherapyRecipe_Therapy] FOREIGN KEY([TherapyId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EventRecipe] CHECK CONSTRAINT [FK_TherapyRecipe_Therapy]
GO
ALTER TABLE [dbo].[EventResult]  WITH CHECK ADD  CONSTRAINT [FK_TherapyResult_Therapy] FOREIGN KEY([TherapyId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EventResult] CHECK CONSTRAINT [FK_TherapyResult_Therapy]
GO
ALTER TABLE [dbo].[Hospitalization]  WITH CHECK ADD  CONSTRAINT [FK_Hospitalization_HospitalizationRoom] FOREIGN KEY([HospitalizationRoomId])
REFERENCES [dbo].[HospitalizationRoom] ([HospitalizationRoomId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Hospitalization] CHECK CONSTRAINT [FK_Hospitalization_HospitalizationRoom]
GO
ALTER TABLE [dbo].[Hospitalization]  WITH CHECK ADD  CONSTRAINT [FK_Hospitalization_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([PatientId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Hospitalization] CHECK CONSTRAINT [FK_Hospitalization_Patient]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_User] FOREIGN KEY([PatientId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_User]
GO
ALTER TABLE [dbo].[RegistrationStaff]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationStaff_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RegistrationStaff] CHECK CONSTRAINT [FK_RegistrationStaff_User]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_WorkHours_ScheduleWorkDayTemplate] FOREIGN KEY([ScheduleTemplateId])
REFERENCES [dbo].[ScheduleWorkDayTemplate] ([ScheduleTemplateId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_WorkHours_ScheduleWorkDayTemplate]
GO
