@{
    ViewData["Title"] = "Регистрация";
}

<div class="text-center">
    <h1 class="accordion-header">«РЕГИСТРАЦИЯ ПАЦИЕНТОВ»</h1>
    <a class="btn btn-outline-primary m-4"
    asp-controller="Home"
    asp-action="RegisterPatient">Зарегистрировать пациента</a>
</div>
